#crew-dropdown {
  height: 36px;
}

div#crew-space {
  margin-bottom: 0px;
}

.add-crew-btn {
  height: 36px;
  margin-left: 5px;
}

.background-region {
  color: white;
}

#select-crew {
  padding-left: 0px;
  padding-right: 0px;
}



.button-orange:active {
  border-color: #d86a09;
}
