/* * {
    border: 1px solid black;
} */

.background-region {
  color: white;
}

.is-complete {
  font-weight: bold;
  color: white;
}

.link-data {
    margin-bottom: 10px;
}

.cust-details,
.crew-details,
.crew-stats {
  padding-left: 25px;
}

.cust-details {
  margin-left: 14px;
}

.crew-stats {
  margin-right: 14px;
}

.cust-details,
.crew-stats {
  background-color: #dfdfdf;
}

.good-ratio,
.complete-job {
  background-color: green;
}

.bad-ratio,
.open-job {
  background-color: red;
}

.bad-ratio,
.good-ratio {
  height: 50px;
  width: 50px;
  display: table;
  margin-bottom: 15px;
}

.ratio-result {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.job-data,
.column-title,
.heading {
  color: black;
}

.column-title {
  font-weight: bold;
  font-style: italic;
}
