
.footer-container {
    position: relative;
    border-top: 20px solid #60332a;
    background: #a6ce30;
    right: 0;
    left: 0;
    height: 10%;
    width: 100%;
    margin-top: 100px;
}
/* unvisited link */
.footer-text:link {
    color: rgb(0, 0, 0);
}

/* visited link */
.footer-text:visited {
    color: white;
}

/* mouse over link */
.footer-text:hover {
    color: #60332a;
}

/* selected link */
.footer-text:active {
    color: lightgreen;
}

.footer-text {
    padding-top: 10px;
}