/* .footer-top {
    height: 75%;
    width: 100%;
    background: #60332a;
} */


/* .footer-bottom {    
    height: 45%;
    width: 100%;
    background: #a6ce30;
    border-top: 20px solid #60332a;
} */

.footer-container {
    position: relative;
    border-top: 20px solid #60332a;
    background: #a6ce30;
    right: 0;
    left: 0;
    height: 10%;
    width: 100%;
    margin-top: 100px;
}