    .btn-brown {
        color: #fff;
        background-color: #60332a;
        border-color: #60332a;
        margin: 0px 5px 0px 5px;
    }
    /* .btn {
        margin: 10px 0px 10px 0px;
    } */

    body {
        background-color: #5b5b5b;
    }

    .page {
        color: white;
    }

    .border {
        border: 0px solid #000000!important;
    }