/* * { border: 1px solid black} */



.job-details {
  background-color: #dfdfdf;
  margin-left: 14px;
  overflow: hidden;
}

.mj-heading,
.mj-details {
  margin-left: 30px;
}

.mj-notes {
  margin-top: 8px;
}

.mj-heading {
  margin-bottom: 2px;
}

.mj-details {
  font-size: 15px;
}

.link-div {
  font-size: 20px;
  margin-bottom: 10px;
}

.crew-name {
  font-size: 20px;
}

.crew-form-button {
  background-color: #dfdfdf;
  margin-right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#complete-btn {
  height: 5em;
  width: 10em;
}

input[type="number"] {
  font-size: 20px;
  margin-bottom: 20px;
}
/* 
@media screen and (min-width: 1200px) {
  .crew-form-button {
    margin-left: 66px;
  }
}

@media screen and (max-width: 1199px) {
  .crew-form-button {
    margin-left: 51px;
  }
} */

@media screen and (max-width: 768px) {
  .mj-heading,
  .mj-details {
    margin-left: 10px;
  }
  
  .crew-form{
    margin-left: 0px;
  }
  
  .crew-form-button {
    margin-left: 10px;
  }
  #complete-btn {
    height: 3em;
    width: 8em;
  }

}

/* 477 */
@media screen and (max-width: 667px) {
  .page-title-text {
    font-size: 30px;
  }

  .mj-heading,
  .mj-details {
    margin-left: 15px;
  }

  .crew-form {
    margin-right: 15px;
  }

  .crew-form-button {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 14px;
    background-color: #b8b8b8;
  }
  #complete-btn {
    height: 4em;
    width: 13em;
  }
}
