#crew {
    height: 36px;
    width: 100%;
}

#crew-drop {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
}

.background-region {
    color: white;
}

.button-orange:active {
  border-color: #d86a09;
}
